.common-header {
  height: 49px;
  color: #fff;
  background: #06c1ae;
  border-bottom: 1px solid #21897d;
  display: -webkit-box;
  display: -ms-flexbox;
  position: relative;
}
.common-header .back-icon {
  width: 8%;
  height: 30px;
  line-height: 35px;
  padding: 10px;
}
.common-header .back-icon i {
  font-size: 18px;
}
.common-header .common-title {
  width: 74%;
  margin-right: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
